<%- include('header') %>
<div class="row">
  <div class="col-sm">
    <h3>
      Development Builds
      <small class="text-muted">for iOS devices</small>
    </h3>
    <p>Testing with iOS devices are available via TestFlight. use the below link!</p>
    <p><a href="">Chatpot for iOS via TestFlight</a></p>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div class="col-sm">
    <h3>
      Development Builds
      <small class="text-muted">for android devices</small>
    </h3>
    <p>For android devices, you can install the Chatpot safely with Google Android App Test Program.<br />
      <a href="https://play.google.com/apps/testing/chat.chatpot">Chatpot for Android</a></p>
    <p>Or, you can install APK through following links.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%if (releases.length === 0) { %>
      No builds available.
    <% } %>

    <%if (releases.length > 0) { %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Version</th>
            <th scope="col">Features</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          <% releases.forEach(function(row){ %>
            <tr>
              <th scope="row"><%= row.no %></th>
              <td><%= row.version %></td>
              <td><%= row.feature.replace(/\'/g, '') %></td>
              <td><a href="<%= row.download_url %>">Download</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <% } %>
  </div>
</div>
<%- include('footer') %>